/* 
*
* Media Queries
*
*/

/* 
* Note media queries perform most reliably
* across all browsers in em, as shown here:
* https://zellwk.com/blog/media-query-units/
*/
@define-mixin atSmall {
    /* 530px / 16 = 33.125em */
    @media only screen and (min-width: 33.125em) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    /* 800px / 16 = 50em */
    @media only screen and (min-width: 50em) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    /* 1200px / 16 = 75em */
    @media only screen and (min-width: 75em) {
        @mixin-content;
    }
}
