html {
    /* Sensible sizing of html elements */
    box-sizing: border-box;

    /* (10px / 16px) so 1 rem equals 10px. */
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;

    /* Puts default font size back to normal
    but 1 rem still equals 10px for easy
    relative box sizing */
    font-size: 1.6rem;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
