/* Used to theme the site, so mainly colour variables,
   or variables that will not break the site that the client
   might want to alter easily such as border radii 
   that are used throughout the site.
*/

/*
*
* Main Theming
*
*/
$color-one: #2f5572;
$color-two: #d59541;
$color-three: #12a;

$shadowColor1: #000;
$shadowColor2: #000;

/* 
*
* Borders
*
*/

/* Border Radius Values */
$radius-small: 0.1rem;
$radius: 0.5rem;
$radius-large: 1rem;

/* Box Shadow */
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
$shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
$shadow-dark: 0 2rem 5rem rgba(0, 0, 0, 0.4);
