/* 
* base - site wide base scss file
*/

/* import the variables first */
@import 'base/_variables';
@import 'base/_theme';

/* import the then mixins */
@import 'base/_mixins';

/* import media queries */
@import 'base/_media-query';

/* basic reset */
@import 'base/_reset';

/* element defaults */
@import 'base/_global';

/*
* modules
*/

/* site wide buttons and button modifiers */
@import 'modules/_btn';

/* main splash screen */
@import 'modules/_large-hero';

/* utility wrapper to add padding to groups of elements */
@import 'modules/_wrapper';
