/* >>>>> base - site wide base scss file <<<<< */

/* normalise - bring all browsers to a similar starting point */
@import 'normalize-scss';

/* import the variables first */
@import 'base/variables';
@import 'base/theme';

/* import the then mixins */
@import 'base/mixins';

/* import media queries */
@import 'base/media-query';

/* basic setup */
@import 'base/basic-setup';

/* element defaults */
@import 'base/global';

/* >>>>> modules <<<<< */

/* site wide buttons and button modifiers */
@import 'modules/btn';

/* site header styling */
@import 'modules/site-header';

/* nav options text */
@import 'modules/primary-nav';

/* main splash screen */
@import 'modules/large-hero';

/* Headline text following the splash screen */
@import 'modules/headline';

/* two column layout */
@import 'modules/row';

/* a utility class that adds consistent
gaps between different section of the page  */
@import 'modules/page-section';

/* utility wrapper to add padding to groups of elements */
@import 'modules/wrapper';

/* wrapper for large blocks of generic text */
@import 'modules/generic-content-container';

/* multiple use section title component */
@import 'modules/section-title';

/* one of the feature items in the feature section of the site */
@import 'modules/feature-item';
/* reveal the items as they just appear on the screen */
@import 'modules/reveal-item';

/* styling the individual testimonial elements */
@import 'modules/testimonial';

/* styling for the footer element */
@import 'modules/site-footer';
