.btn {
    background-color: $mainBlue;
    color: #fff;
    text-decoration: none;
    padding: 1.2rem 1.92rem;
    display: inline-block;

    &--orange {
        background-color: $mainOrange;
    }

    &--large {
        padding: 1.75rem;

        @mixin atSmall {
            font-size: 2rem;
        }
    }
}
