.btn {
  background-color: $color-one;
  color: #fff;
  text-decoration: none;
  padding: 1.2rem 1.92rem;
  display: inline-block;

  &--orange {
    background-color: $color-two;
  }

  &--large {
    padding: 1.75rem;

    @mixin atSmall {
      font-size: 2rem;
    }
  }
}
