.feature-item {
  position: relative;

  padding-bottom: 3.5rem;

  @include atSmall {
    height: 25rem;
    padding-left: 9.4rem;
  }

  &__icon {
    display: block;
    margin: auto;

    @include atSmall {
      position: absolute;
      left: 0;
    }
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    text-align: center;

    @include atSmall {
      font-size: 3rem;
      text-align: left;
    }
  }
}
