.generic-content-container {
  p {
    font-weight: 300;
    line-height: 1.65;
    margin: 0 0 2.88rem 0;

    @include atSmall {
      font-size: 1.8rem;
    }

    a {
      font-weight: 700;
      text-decoration: none;
    }
  }
}
