.headline {
  font-weight: 300;
  font-size: calc(1.6 * 1.9rem);
  color: $color-one;

  @include atSmall {
    font-size: 4.6rem;
  }

  &--centered {
    text-align: center;
  }

  &--orange {
    color: $color-two;
  }

  &--small {
    font-size: calc(1.6 * 1.2rem);
    @include atSmall {
      font-size: 3rem;
    }
  }

  &--narrow {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }

  &--light {
    font-weight: 100;
  }

  strong {
    font-weight: 400;
  }

  &--b-margin-small {
    margin-bottom: 0.8rem;
  }

  &--b-margin-large {
    margin-bottom: 2.6rem;
  }

  &--no-t-margin {
    margin-top: 0;
  }
}
