.large-hero {
  position: relative;
  border-bottom: 1rem solid $color-one;

  &__image {
    display: block;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 300;
    color: $color-one;
    font-size: 2.9rem;
    margin: 0;

    @include atSmall {
      font-size: 7.7rem;
    }
  }

  &__subtitle {
    font-weight: 300;
    color: $color-one;
    font-size: 2.4rem;
    margin: 0;

    @include atSmall {
      font-size: 4.6rem;
    }
  }

  &__description {
    color: #fff;
    font-size: 1.76rem;
    font-weight: 100;
    text-shadow: $shadow;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0;

    @include atSmall {
      font-size: 3rem;
    }
  }
}
