.large-hero {
  position: relative;

  &__text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 300;
    color: $mainBlue;
    font-size: 2.9rem;
    margin: 0;

    /*   @media only screen and (min-width: 33em) {
            font-size: 7.7rem;
        } */

    @include atSmall {
      font-size: 7.7rem;
    }
  }

  &__subtitle {
    font-weight: 300;
    color: $mainBlue;
    font-size: 2.4rem;
    margin: 0;

    @include atSmall {
      font-size: 4.6rem;
    }
  }

  &__description {
    color: #fff;
    font-size: 1.76rem;
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

    @include atSmall {
      font-size: 3rem;
    }
  }
}
