.page-section {
  padding: 1.8rem 0;

  @include atMedium {
    padding: 7.2rem 0;
  }

  &--blue {
    background-color: $color-one;
    color: $white;
  }

  &--no-b-padding-until-medium {
    padding-bottom: 0;
    @include atMedium {
      padding-bottom: 7.2rem;
    }
  }

  &--no-b-padding-until-large {
    padding-bottom: 0;
    @include atLarge {
      padding-bottom: 7.2rem;
    }
  }

  &--testimonials {
    background-color: $color-three;
    @include atLarge {
      background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
      background-size: cover;
    }
  }
}
