.primary-nav {
  padding-top: 3rem;

  @include atMedium {
    padding-top: 0;
  }

  &--pull-right {
    @include atMedium {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    @include clearfix;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 0.7;

    @include atMedium {
      padding-right: 2rem;
      float: left;
      display: block;
    }
  }

  li:last-child {
    padding-right: 0;
    @include atMedium {
      padding-right: 2rem;
    }
  }

  a {
    color: $white;
    text-decoration: none;
    font-weight: 400;
    display: block;
    font-size: 1.28rem;
    padding: 0.5rem 0.7rem;
    background-color: rgba($color-one, 0.5);

    @include atMedium {
      font-size: 1.6rem;
      padding: 1.2rem 0;
      background-color: transparent;

      &.is-current-link {
        color: $color-three;
      }
    }
  }
}
