.row {
  @include clearfix;

  &--gutters {
    margin-right: -6.5rem;
    & > div {
      padding-right: 6.5rem;
    }
  }

  @include atMedium {
    &__medium-4 {
      float: left;
      width: 33.3%;
    }

    &__medium-4--larger {
      width: 37%;
    }

    &__medium-8 {
      float: left;
      width: 66.6%;
    }

    &__medium-8--smaller {
      width: 63%;
    }
  }
}
