.row {
  @include clearfix;

  &--t-padding {
    padding-top: 8rem;
  }

  &--gutters-small {
    margin-right: -5rem;
    & > div {
      padding-right: 5rem;
    }
  }

  &--gutters {
    margin-right: -6.5rem;
    & > div {
      padding-right: 6.5rem;
    }
  }

  &--gutters-large {
    margin-right: -10rem;
    & > div {
      padding-right: 10rem;
    }
  }

  &__b-margin-until-medium {
    margin-bottom: 1.6rem;
  }

  @include atMedium {
    &__b-margin-until-medium {
      margin-bottom: 0;
    }

    &__medium-4 {
      float: left;
      width: 33.3%;
    }

    &__medium-4--larger {
      width: 37%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-8 {
      float: left;
      width: 66.6%;
    }

    &__medium-8--smaller {
      width: 63%;
    }
  }

  @include atLarge {
    &__b-margin-until-large {
      margin-bottom: 0;
    }

    &__large-4 {
      float: left;
      width: 33.3%;
    }

    &__large-4--larger {
      width: 37%;
    }

    &__large-6 {
      float: left;
      width: 50%;
    }

    &__large-8 {
      float: left;
      width: 66.6%;
    }

    &__large-8--smaller {
      width: 63%;
    }
  }

  /* Begin equal height rules */

  &--equal-height-at-medium {
    @include atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }

  &--equal-height-at-large {
    @include atLarge {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
}
