.section-title {
  font-size: 3.5rem;
  font-weight: 300;
  text-align: center;

  @include atSmall {
    font-size: 6rem;
  }

  strong {
    font-weight: 600;
  }

  &--blue {
    color: $color-one;
  }

  &__icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

    @include atSmall {
      position: relative;
      top: 8px;
      margin-right: 1rem;
      margin-left: 0;
      margin-bottom: 0;
      display: inline-block;
    }
  }
}
