.testimonial {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0 1.8rem 1px 1.8rem;
  margin-bottom: 10.5rem;

  &--last {
    margin-bottom: 0;
  }

  @include atLarge {
    padding: 0 3rem 1px 3rem;
    margin-bottom: 0;
  }

  &__photo {
    border-radius: 8rem;
    overflow: hidden;
    width: 16rem;
    height: 16rem;
    margin: 0 auto -8rem auto;
    position: relative;
    top: -8rem;
    border: 0.6rem solid rgba(255, 255, 255, 0.75);
  }

  &__title {
    color: $color-one;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0;
  }
  &__subtitle {
    color: $color-two;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: 1.2rem;
  }
}
